*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.secondCallActionContainer{
    display: grid;
    grid-template-rows: 3fr 2fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgba(33, 28, 132, 0.862);
    padding: 1rem 0rem;
    position: relative;
    /* border: 2px solid #333; */
}
.secondCallActionContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.secondCallActionContainer h2{
    /* min-height: 70px; */
    color: white;
    font-size: 40px;
    margin-bottom: 0px;
    /* &:hover{
        color: #bdaf8d;
    } */
    /* border: 1px solid #ffffff; */
}
.secondCallActionContainer button{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-size: 20px;
    font-weight: 600;
    /* border: none; */
    &:hover{
        border: 2px solid rgba(33, 28, 132);
        background-color: rgb(254, 254, 255);
        color: rgba(33, 28, 132);
    }
 
}
@media screen and (max-width: 980px) {
    .secondCallActionContainer{
        padding: 1rem 0.5rem;
    }    
    .secondCallActionContainer h2{
    font-size: 30px;
    margin-bottom: 0px;
    &:hover{
        color: white;
    }
    /* border: 1px solid #ffffff; */
}
}